:root {
  font-size: 20px;
}

html, body {
  margin: 0;
  height: 100%;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 70ch;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 90%;
  }
}
