:root {
  font-size: 20px;
}

html, body {
  margin: 0;
  height: 100%;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

h1 {
  font-weight: 100;
}

p {
  width: 70ch;
}